@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Scrollbar */
/* Firefox */
* {
  scrollbar-width: 1px;
  scrollbar-color: #9e9fac #ffffff;
}

/* Chrome, Edge, and Safari */
/* For WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
  /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* color of the track */
}

::-webkit-scrollbar-thumb {
  background: #888;
  /* color of the scrollbar handle */
}

/* For Firefox */
/* Set the width of the scrollbar */
/* auto: browser default, thin, or none: hides the scrollbar */
/* For Firefox, you can't style the scrollbar directly like in WebKit */
/* But you can adjust its appearance using the color of the track and handle */
body {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
  /* thumb color and track color */
}


.toggle-button-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50%;
  /* Ensure it's above other content */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  /* Adjust height as needed */
  background-color: #333;
  /* Adjust background color as needed */
  color: #fff;
  /* Adjust text color as needed */
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.toggle-button-wrapper:hover {
  background-color: #555;
  /* Adjust hover background color as needed */
}

/* Adjust the width of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
  /* Change this value to set the width */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Change the background color if needed */
}

/* Style the scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #802525;
  /* Change the color of the scrollbar handle */
  border-radius: 5px;
  /* Add border-radius for rounded corners */
}

/* Hover effect for the scrollbar handle */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Change the color on hover */
}

.scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.color {
  background-color: #17252A;
}

.font-normal {
  font-weight: larger;
}

body {
  font-size: 0.5vw;
}


.header-font {
  font-size: 1.7vw;
}

.title {
  font-size: 1.1vw;
}

.subheading-font {
  font-size: 0.9vw;
}

.content-font {
  font-size: 0.8vw;
}

.table-header-bg {
  background-color: #bedc12;
}

.quarterly-review-header {
  font-weight: bold;
}